@font-face{
    font-family: NanumGothic;
    src:url(../font/NanumGothic-Bold.ttf);
}
body{
    font-family: NanumGothic;
    color: white;
    background-color: #333;
}

#inicio{
    background: url(../img/investor.png);
    min-height: 70vh;
    background-size: cover;
    background-attachment: fixed; 
}

.inicio{
    padding-top: 100px;
}

.inicioImagen{
    padding-top: 100px;
}
.dark-overlay{
    background-color: rgba(0, 0, 0, .3);
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 70vh;
}

.navbar{
    border-bottom: #5dbaf0ea 3px solid;
    opacity: .8;
}
.navbar{
    color: #5dbaf0ea;

}
#contactanos{
    color: #333;
    background-color: white;
}

input.btn.btn-outline-light.btn-block{
    float: left;
    width: 150px;
    display: flex;
    margin-left: 20px;
}
/* ########## Estilo pagina Actividades ##################*/
.menu-lateral{
    min-height: 68vh;
    padding-left: 0px;
}
.graficasPastel{
    
    display: flex;
    margin-top: 30px;
    float: left;
}

.dotMenu{
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    color: #d9d9d9;
    float: right;
    font-size: 25px;
    padding: 0px;   
    position: static;
    height: 40px;
}
.dotMenu:hover{
    background-color: #565656;
}
.grafica{
    float: left;
    position: static;

}
.contenedorMover{
    float: left;
    background-color: #f7f7f7;
    margin-top: 150px;
    margin-left: 180px;
    position: absolute;
}
.mover{
    padding: 5px;
}
.mover:hover{
    background-color: #565656;
}
.iconoMover{
    
    color: #d9d9d9;
}
/* Estilo de la pagina Perfil*/
.perfil{
    margin-right: 100px;
}

#imagenPerfil{
    background: url(../img/usuario.jpg);
    float: right;    
    width: 230px;
    height: 180px;
    margin-bottom: 20px;
    
    /*border-radius: 71%;*/
}

.areaInformacion{
    margin-left: 0px;
}
.eliminarEditar{
    margin-left: 10px;
    float: right;
}
/* Uso general en en las paginas de los usuarios*/
.normal{
    background-color: #1f1f1f;
    opacity: .8;
    color: #ffffff;
}
.menu-lateral{
    min-height: 68vh;
    padding-left: 50px;
}
.paginasUsuario{
    padding-top: 100px;
    margin-left: 0px;
    padding-left: 0px;
    color: #1f1f1f;
}