{% extendas 'layout.html'%}
{% block title %}Proyectos{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/donutChart.css')}}">
{% endblock %}
{% block content%}
  {% for proyecto in proyecto %}
  <div class="progress-pie-chart" data-percent="43">
    <div class="ppc-progress">
      <div class="ppc-progress-fill"></div>
    </div>
    <div class="ppc-percents">
      <div class="pcc-percents-wrapper">
        <span>%</span>
      </div>
    </div>
  </div>
  {% else %}
  <h3>No hay registros</h3>
  {% endfor %}
  <button id="botonAgregarProyec" class="btn btn-primary" data-target="#agregarProyecto" data-toggle="modal"> </button>
  <div id="agregarProyecto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nuevoProyecto"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevaActividad">Nuevo proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="iProyecto" method="POST">

          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}