<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    {% block link %} {% endblock %}

    <script src="{{ url_for('static', filename = 'js/all.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/scrollreveal.min.js') }}"></script>
    {% block scriptHead %} {% endblock%}
</head>

<body>
    <!-- Barra de navegacion-->
    <nav class="navbar navbar-expand-sm bg-dark navbar fixed-top">
        <a class="navbar-brand" href="#GOLIOAT"> <i class="fas fa-chess-knight"></i> Goliat </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">&#9776;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul id="inicioRegistro" class="navbar-nav ml-auto">
                {% if session["nombresUsua"] %}
                <li class="nav-item ">
                    <a class="nav-link navbar-brand">¡Bienvenido {{ session["nombresUsua"] }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesion</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="#inicio">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#info">Informacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contactanos</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--    INICIO   -->
    {% block content %} {% endblock %}

    <footer id="contacto" class="inicio container inicio-arriba">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    <script src="{{ url_for ('static', filename = 'js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for ('static', filename = 'js/popper.min.js') }}"></script>
    <script src="{{ url_for ('static', filename = 'js/bootstrap.min.js') }}"></script>

    <script>
        window.sr = ScrollReveal();

        sr.reveal('.navbar', {
            duration: 2000,
            distance: '300px',
            origin: 'bottom'
        });

        sr.reveal('.inicio-izq', {
            duration: 3000,
            distance: '300px',
            origin: 'left'
        });

        sr.reveal('.inicio-derecha', {
            duration: 3000,
            distance: '300px',
            origin: 'right'
        });

        sr.reveal('.inicio-arriba', {
            duration: 3000,
            distance: '300px',
            origin: 'top'
        });

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    {% block script%} {% endblock %}
</body>

</html>