{%extends 'layout.html'%}
{% block title%} Probando subir imagen{% endblock %}
{% block link%}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/donutChart.css')}}">
{% endblock %}
{% block content%}
<section id="paginaHome" class="container paginasUsuario">
    <div class="row">
        <!-- *******************************        MENU FRONTAL    *************************************************************-->
        <div class="col-lg-3 col-md-3 menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a id="homeM" class="nav-link normal" href="/home"> <i
                            class="fa fa-home fa-fw"></i>
                        Home</a>
                </li>
                <li class="nav-item"><a id="perfilM" class="nav-link normal" href="/sPerfil"> <i
                            class="fas fa-user"></i>
                        Perfil</a></li>
                <li class="nav-item"><a id="actividadesM" class="nav-link normal" href="/actividades"> <i
                            class="fa fa-list-alt fa-fw"></i> Actividades</a></li>
                <li class="nav-item"><a id="actividadesM" class="nav-link active" href="/uploadPerfil"> <i
                            class="fa fa-list-alt fa-fw"></i> Actividades</a></li>
            </ul>
        </div>

        <form action="/uploadImagen" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="image">
                    <label class="custom-file-label" for="image">Select image...</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>

        </form>


    </div>
</section>
{% endblock %}